*{
    padding: 0;
    margin: 0;
     list-style-type: none;
}

body{
    position: relative;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    border: 2px solid whitesmoke;
}


ul {
    width: 95%;
    margin: auto;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    padding: 0px 100px;
    margin-right: 50px;
}

.tuitt-button{
    background-color:#c2195b;
    color: #fff;
    border:none;
    border-radius:20px;
    min-height:35px;
    min-width: 110px;
    justify-content: space-between;
  }



  #logo {
    padding: 0px 70px;
  }

#bg-image {
  background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;

}

.front-bg {
  background-color: rgba(0,0,0,0.5);
  height: 500px;
}

.container {
  padding-top: 60px;
  padding-bottom: 200px;
  text-align: right;
  color: white;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 100px;
}

.title {
  font-size: 50px;
  font-family: none;
  padding-right: 200px;
  padding-left: 1000px;
  
}

.subtitle {
  font-size: 24px;
  font-weight: lighter;
  padding-right: 200px;
  padding-left: 1250px;
  padding-top: 20px;
  
}

.apply-button {
  background-color: #c2195b;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  min-height:40px;
  min-width: 180px;
  margin-right: 200px;
  margin-top: 10px;

}


.intro {
    padding-right:400px ;
    padding-left:400px ;
    padding-top: 80px;
}
  
.title-2 {
    padding-bottom: 70px; 
    text-align: center;
    font-family: none;
    font-weight: bolder;
    font-size: 30px;
     padding-right:300px ;
    padding-left:300px ;
}

.intro-description {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}

.pre-footer {
  background-color: #f7fbfb;
  padding: 100px;
  text-align: center;
  margin-top: 100px;
}


.prefooter-description {
  font-size: 17px;
  margin-bottom: 20px;
  padding-right:300px ;
    padding-left:300px ;
}

.book-button {
    background-color:#336589;
    color: #fff;
    border:none;
    border-radius:20px;
    height:35px;
    width: 150px;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 80px;
}


footer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

span {
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
}